--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.2.2+cpu
fastapi==0.109.2
uvicorn[standard]==0.27.1
pydantic==2.6.4
psycopg2-binary==2.9.9
pgvector==0.2.5
sentence-transformers==2.5.1
numpy==1.26.4
langchain==0.1.13
langchain-community==0.0.29
langchain-core==0.1.33
langchain-google-genai==1.0.1
langchain-anthropic==0.1.4
langchain-openai==0.1.1
openai==1.14.1

